<!-- Help message -->
<div class="ui message">
  <i class="close icon"></i>

  <!-- Label config -->
  <div class="ui accordion">
    <div class="active title"><i class="dropdown icon"></i>標記設定說明</div>
    <div class="active content">
      <ul class="ui list">
        <li>標記介面使用類似HTML的標籤，請詳閱
          <a href="https://labelstud.io/tags" target="_blank">說明文件</a>.
        </li>
        <li>您可在Labeling Config視窗中客製化標記介面的外觀與流程</li>
        <li>標籤的值可以使用以"$"符號開始的變數，以及您所匯入的JSON或CSV檔案中欄位。
        </li>
      </ul>
      <div style="margin: 0.25em"></div>
    </div>
  </div>

  {% if multi_session %}
  <div class="ui accordion">
    <div class="active title"><i class="dropdown icon"></i> Reset everything and start a new project</div>
    <div class="active content">
      <button onclick="new_project()" id="new-project-button"
              class="ui button negative basic" style="height: 24px; padding-top: 5px; margin-left: 5px;">
        Start new project
      </button>
      <div style="margin: 0.25em"></div>
      <br/>
    </div>
  </div>
  {% endif %}

  <!-- Basic Templates -->
  {% for complexity in templates %}
  <div class="ui accordion">
    <div class="{{ 'active' if complexity == 'basic' else '' }} title">
      <i class="dropdown icon"></i> {{complexity|capitalize}} config examples
    </div>
    <div class="{{ 'active' if complexity == 'basic' else '' }} content" style="margin-top:-8px">
      <!-- Templates categories -->
      <div class="ui grid stackable" style="margin: 0 auto;">
        {% for category in templates[complexity] %}
          <div class="three wide column category">
            {% if category == 'audio' %} <i class="icon sound" title="Audio sources"></i> {% endif %}
            {% if category == 'text' %} <i class="icon font" title="Text sources"></i> {% endif %}
            {% if category == 'html' %} <i class="icon code" title="HTML sources"></i> {% endif %}
            {% if category == 'image' %} <i class="icon image" title="Image sources"></i> {% endif %}
            {% if category == 'other' %} <i class="icon archive" title="Other sources"></i> {% endif %}

            {% if category == 'layouts' %} <i class="icon eye" title="View layout examples"></i> {% endif %}
            {% if category == 'per-region' %} <i class="icon vector square" title="Per region examples"></i> {% endif %}
            {% if category == 'nested' %} <i class="icon bullseye" title="Nested examples with conditional behavior"></i> {% endif %}

            <!-- Template -->
            {% for t in templates[complexity][category] %}
              <div class="ui item">
                <a class="use-template no-go" href="#" data-value="{{ t.pk }}">{{ t.title }}</a>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}

</div>

<br/>

<script>
  function new_project() {
    let yes = confirm("您的資料將會消失，並且無法復原，請確認是否仍要繼續？");
    if (yes) {
      let request = new XMLHttpRequest();
      request.open("POST", "api/project/?new=true", true);
      request.onload = function () {
        window.location.reload();
      };
      request.send(null);
    }
  }

  $('.ui .accordion').accordion({collapsible: true});
</script>
